#build folder that includes html files
_build/
#ignored files
_ignore/
#visual studio code files
.vscode/

__pycache__
*.pyc
*.mo

# Finder (MacOS) makes these automatically.
.DS_Store

# And Windows keeps creating these.
Thumbs.db
