/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}

/* math equation number position  */
span.eqno {
    float: right;
}

/*font colors to identify rewrite text*/

.red{
	color:#bf360c
}

.math-accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  transition: 0.4s;
}

.math-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}